body{
  background-color: #464646;
}

#choices{
  font-size:1.5em;
  margin-bottom: 1em;
}

#scorecard{
	font-weight: bold;
}

label{
	margin-left: 3em;
}

.spacer{
	margin-top: 3em;
}

.questionText{
	
  color:orange;
  padding-bottom: 2em;
  font-size: 2em;

}

 h1{
  padding-top:1em;
  color: orange;
  font-size:4em;
  margin: 0 auto;
  width: 600px;
	text-align: left;
  z-index: 100
}
#question-container, #scorecard{
	margin: 0 auto;
	width: 800px;
	padding-top: 3em;
}

input[type=radio]{

 margin-bottom: 1em;
 margin-right: 1em;
 cursor: pointer;
}

input[type=button]{
    padding:2em;
     
     margin-top: 2em;
     cursor: pointer;
      background-color:rgba(255,153,0,.8);
    
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
   
 
}
input[type=button]:hover {
    background-color:rgba(255,153,0,1);
}
*/
    
.red{
	background-color: red;
}

#wrapper{
  background-color: rgba(0,0,0, .8);
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  z-index: -1;
  display:hidden;

}

#next{
  background-color: orange;
  padding: 2em;
  width:20%;
  position: absolute;
  top: 45%;
  right: 45%;
  cursor: pointer;
}

#question-container{
  padding-top: 10em;
  margin: 0 auto;
}



.images{
	  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
 /* opacity: 0;*/
  
  

  /* Set a background color that will be displayed
     while the background image is loading */
 /* background-color: #464646;*/
  color:orange;
  z-index: -2;
  

}

.overlay{
  background-color:red;
   position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.quote {
 background-color: rgba(255,153,0,.5);
  padding: 1em;
  color:black;
  position: absolute;
  bottom:0%;
  width:100%;
  font-size: 1.75em;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.quote:hover{
   background-color: rgba(255,153,0, 1);
}

