
@font-face{ 
  font-family:'Alegreya-Regular-webfont';
  src: url('fonts/Alegreya-Regular-webfont.eot');
  src: url('fonts/Alegreya-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Alegreya-Regular-webfont.woff') format('woff'),
       url('fonts/Alegreya-Regular-webfont.ttf') format('truetype'),
       url('fonts/Alegreya-Regular-webfont.svg#webfont') format('svg');
}

html, html a{
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}



body{
  background-color: #464646;
  line-height: 1.2em;
  font-size: 100%;
  font-family:'Alegreya-Regular-webfont';
}

.images{
    /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
 /* opacity: 0;*/
  /* Set a background color that will be displayed
     while the background image is loading */
 /* background-color: #464646;*/
  color:orange;
  z-index: -2;
}

#wrapper{
  background-color: rgba(0,0,0, .8);
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  opacity:0;
}


#choices{
  font-size:1.5em;
  margin-bottom: 1em;
}

#scorecard{
	font-weight: bold;
  margin-top: 10em;
  margin: 0 auto;
  width:80%;
  padding-left: 10%;
}



.questionText{
	
  color:orange;
  padding: 2em 0;
  font-size: 1.75em;
  line-height: 1.25em;
  
  margin: 0 auto;


}



 #quizName{
  padding-top:1em;
  color: orange;
  font-size:4em;
  line-height: 1em;
  margin: 0 auto;
	text-align: left;
  width:80%;
  padding-left: 10%;
  z-index: 100;
  font-family:'Alegreya-Regular-webfont';
 
}

#question-container{
  padding-top: 7em;
  margin: 0 auto;
  line-height: 2em;
  width:80%;
  padding-left:10%;
}


input[type=radio]{

 margin-bottom: 1em;
 margin-right: 1em;
 cursor: pointer;
}

input[type=button]{
    padding:2em;
     
     margin-top: 2em;
     cursor: pointer;
      background-color:rgba(255,153,0,.8);
    
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
   
 
}
input[type=button]:hover {
    background-color:rgba(255,153,0,1);
}

#next{
  background-color: orange;
  padding: 2em;
  width:20%;
  position: absolute;
  top: 45%;
  right: 45%;
  cursor: pointer;
}


.quote {
 background-color: rgba(255,153,0,.5);
  padding: 1em;
  color:black;
  position: absolute;
  bottom:0%;
  width:100%;
  font-size: 1.75em;
  line-height: 1em;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.quote:hover{
   background-color: rgba(255,153,0, 1);
}

