
@font-face{ 
  font-family:'Alegreya-Regular-webfont';
  src: url('fonts/Alegreya-Regular-webfont.eot');
  src: url('fonts/Alegreya-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Alegreya-Regular-webfont.woff') format('woff'),
       url('fonts/Alegreya-Regular-webfont.ttf') format('truetype'),
       url('fonts/Alegreya-Regular-webfont.svg#webfont') format('svg');
}

html, html a{
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

input, textarea, button, select, a { outline: none; }

hr{
  border: 1px solid #ffe39f;
  opacity: 1;
  top:0;
  margin-top: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}

/*style for hidden modal*/
.overlay {
  width: 100%;
  height: 100%;
  color: orange;
  opacity:.8;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  display: none;
}

.content {
  

  position: absolute;
  width: 100%;
  bottom:0;
  margin: 0 auto;
}

.content h3 {
  color: black;
  background: #ffe39f;
  margin: 0;
  padding: 0.75em 0;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  text-decoration: none;

}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
  .content h3:link{
  color: #ffe39f!important;
  background: black;
  text-decoration:none;
 }
  .content h3:hover{
  background:orange!important;
  text-decoration: none;
 }





body{
  background-color: black;
  line-height: 1.2em;
  font-size: 100%;
  letter-spacing: 0.05em;
  font-family:'Alegreya-Regular-webfont';
}

.images{
    /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
 /* opacity: 0;*/
  /* Set a background color that will be displayed
     while the background image is loading */
 /* background-color: #464646;*/
  color:orange;
  z-index: -2;

}

#wrapper{
  background-color: rgba(0,0,0, .9);
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  opacity:0;
}


#choices{
  font-size:1.5em;
  margin-bottom: 1em;
  color:#ffe39f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

#scorecard{
	font-weight: 400;
  margin-top: 10em;
  margin: 0 auto;
  width:80%;
  padding-left: 5%;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color:#ffe39f;
}



.questionText{
	
  color:#ffe39f;
  font-style: italic;
  padding-top: 1.5em;
  padding-bottom:1em;
  font-size: 2em;
  line-height: 1.25em;
  color: #ffe39f;
  margin: 0 auto;


}



 #quizName{
  padding-top:.5em;
  color: orange;
  font-size:6.25em;
  line-height: 1em;
  margin: 0 auto;
	text-align: left;
  width:80%;
  padding-left: 5%;
  z-index: 100;
  font-family:'Alegreya-Regular-webfont';
 
}

#question-container{
  padding-top: 9.5em;
  margin: 0 auto;
  line-height: 2em;
  width:80%;
  padding-left:5%;
}


input[type=radio]{

 margin-bottom: 1em;
 margin-right: 1em;
 cursor: pointer;
}

input[type=radio]:checked + label{
   color:orange;
  font-weight:600;

}

input[type=button]{
    margin-top:3em;
    width: 100px;
    height:100px;
    text-align: center;
     
     margin-top: 2em;
     cursor: pointer;
      background: url('../images/quote.png');
      background-repeat: no-repeat;
      opacity: .7;
}


label{
  color: #ffe39f;
  font-weight: 200;
-webkit-transition: all 0.9s linear;
-moz-transition: all 0.9s ease;
-ms-transition: all 0.9s ease; /* IE10 is actually unprefixed */
-o-transition: all 0.9s ease;
transition: all 0.9s ease;
}




 label:hover{
  cursor: pointer;
  color:orange;
}

.selected{
  color:orange;
  font-style: italic;
}

input[type=button]:hover {
    opacity: 1;
}

#next{
  background-color: orange;
  padding: 2em;
  width:20%;
  position: absolute;
  top: 45%;
  right: 45%;
  cursor: pointer;
}


.quote, #start{
 background-color: rgba(255,153,0,.7);
  padding: .75em 0;
  color:black;
  position: absolute;
  bottom:0%;
  width:100%;
  font-size: 1.75em;
  line-height: 1em;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  
}

#start{
  font-weight: 800;
letter-spacing: .1em!important;
display:none;

text-transform: uppercase;

font-style: normal;
}

.quote:hover, #start:hover{
   background-color: rgba(255,153,0, 1);
}

#bold{
  font-weight: bold;
}

#arrow{
  color: black;
  font-style: normal;
  position:absolute;
  bottom: .45em;
  right:.5em;
  font-size: 1.5em;

}

#splash{
  display: none;
}

@media only screen and (max-width: 750px){ 

  #quizName{
    padding-top: 0.25em;
  }

  #scorecard{
    font-size: .75em;
  }

  #choices{
    margin-top: .75em;
  }

  #question-container{
    padding-top: 15em;
  }
  .quote{
    font-size: 1em;
     padding:1.25em 0;
  }

  #arrow{
    font-size: 1em;
    bottom: 1em;
    right: .2em;
  }
}
